.nopad{
    padding-right: 0;
    padding-left: 0;
}
.header1{
    font-family: 'Baloo Bhai', cursive;
    background-color: rgb(63, 159, 255);
    color: white;
    text-align: center;

    padding: 50px 20px 50px 20px;
}
.header1besar{
    font-size: 36px;
}
.header2{
    font-family: 'Baloo Bhai', cursive;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;

    padding: 50px 20px 50px 20px;
}

.karosel{
    padding: 50px 15% 60px 15%;
}

.btndaftar{
    margin-top: 50px;
    padding: 15px 48px;
    border-radius: 30px;
}

.isi1{
    background-color: #66c2ff;
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;

    padding: 50px 20px;
}
.togel{ font-size: 26px; }

.isi1-1, .isi1-2{
    margin-top: 18px;
    font-size: 20px;
    padding: 0 15%;
    text-align: left;
    font-weight: 100;
}
.sembunyi{
    display: none;
}

.isi2{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px 25px;
}
.isi2-judul{
    font-family: 'Baloo Bhai', cursive;
    font-size: 36px;
    font-weight: bolder;
    padding: 5px 25px 20px 25px ;
}
.isi2-tanya{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
}
.isi2-masalah{
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
}


.isi3{
    background-color: rgba(221,221,221,0.68);
    color: black;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    font-weight: bolder;
    padding: 35px 25px 20px 30px ;
    text-align: center;
}
.isi3-tenang{
    color: red; padding-right: 10px;
}
.isi3-kecil{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.isi4 {  position: relative; }
.isi4:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../img/isi4-bg.png');
   opacity: 0.15;
}
.isi4-judul{
    position: relative; 
    z-index: 2;
    padding: 28px;
    opacity: 1;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}
.isi4-isi{
    margin: 0 20%;
    font-size: 22px;
}
.isi4-isi>ul>li{
    margin: 5px 0;
}
.isi4-footer{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 45px;
}

.isi5{
    background-color: #cc3399;
    color: white;
    padding: 30px 20px 60px 20px;
    text-align: center;
}
.isi5-a{
    font-size: 28px;
    margin: 5px 10% 15px 10%;
}
.isi5-a-tebal{
    font-weight: bold;
}
.isi5-b{
    font-style: italic;
    font-size: 20px;
}

.isi6{
    background-color: white;
    color: black;
    padding: 30px 20px 60px 20px;
    text-align: left;
    font-size: 22px;
}
.isi6-tebal{
    font-weight: bold;
}
